*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


/***********************     Sommaire       *********************

1 - Header 
1 - Header 
1 - Header 
1 - Header 
1 - Header 


****************************************************************/



/********  GLOBAL  ********/

.body{
  font-family: 'Manrope', sans-serif;
}


.position {
    width: 100%;
    margin: auto;
    font-family: 'Manrope', sans-serif;
    flex-wrap: wrap;
    background-color: var(--color_1);
    padding:0 30px;
}






/***********************     Variables       *********************/

:root{
  --color_1:#c3c3c3;
  --color_2: #e07e15;
  --color_3:#387cf8;
  
}

/*****************************************************************/




/********  1 - Header  ********/

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(75, 32, 35, 0.575);
  border-top: solid 5px var(--color_2);
  border-bottom: solid 5px var(--color_3);
  padding:30px 10px;
  width:100%;
  position:fixed;
}


header h1{
  font-family: 'Dancing Script', cursive;
  font-size:3rem;
  text-transform: uppercase;
  color:var(--color_1);
  width:100%;
}


#h{
  
  color:var(--color_2)
}

#t{
  color:var(--color_3);
}



.navbar_header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width:30vw;
}


.navbar_header a {
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  color:var(--color_1);
  font-size: 2rem; 
  
}

.navbar_header :nth-child(2){
  text-decoration: underline;
}



/**********************  effet reflet  ***********************/
.navbar_header .shine div{
	position: relative;
}

.shine div a::before {
  content: '';
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.shine div a:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


/**************  Formulaire de recherche  **************/

.formulaire_recherche{
width:100%;
display: flex;
justify-content: flex-end;
}

#site-search{
   width:40%;
   border-radius: 5px;
}


.formulaire_recherche button{
  color:var(--color_1);
  display:inline-block;
  width:10%;
  margin-left:20px;
  border-radius: 20px;
  color:black;
  font-family: 'Dancing Script', cursive;
  font-size:1rem;
}


/********************************  Slider  ***********************************/

.img1 {
  background: url(../images/coliseum3.jpg);
  height: 108rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82rem;
  height: 45rem;
  text-align: center;
  background: rgba(0,0,0,0.3);
  color: white;
  line-height: 1.5rem;
  font-family: sans-serif;
  font-weight: 100;
  padding: 3.5rem;
}



/* Deuxieme section */

.img2 {
  background: url(../images/coliseum5.jpg);
  height: 108rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* Troisieme section */

.img3 {
  background: url(../images/coliseum7.jpg);
  height: 108rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* Animation */

.box1 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box2 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box3 {
  opacity: 0;
  transition: all 0.4s linear;
}

.fade-in {
  opacity: 1;
}

/*********************************    main      **********************************/


/************************  1er Article  ***********************/
article{
  padding:20px;
  display:flex;
  justify-content: space-between;
  
}

article video{
width:50%;

}


article h1{
  width:100%;
  font-family: 'Dancing Script', cursive;
  font-size:2.5rem;
  
}


article p{
  width:50%;
  padding:100px 70px;
  line-height: 25px;
}

article a{
  background: tomato;
  padding:8px;
  text-decoration: none;
  color:var(--color_1);
  text-transform: uppercase;
  border-radius: 12px;
  

}


/************Footer*************/

.footer {
  box-shadow: 2px -4px 4px grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: 'Dancing Script', cursive;
}



#footer_footer_nom_du_site {
  color: #e07e15;
  font-weight: bold;
  font-style: italic;
}


.footnav ul {
  display:flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footnav a:hover{
  text-decoration: underline;
}


footer a{
  padding-right:30px;
}


footer a,
.footnav2,
li {
  list-style: none;
  text-decoration: none;
  color:black;
  
}

.footnav2 h2, .reseaux h2{
  padding: 0 0 20px 0;
}


#button {
  width: 120px;
  background-color: rgb(231, 231, 231);
  color: grey;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;

}
/***************  Social Network  ***************/

.reseaux i{
  display:inline-block;
}



.gg-facebook {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 20px
}
.gg-facebook::after,
.gg-facebook::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box
}
.gg-facebook::before {
  width: 8px;
  height: 20px;
  border-left: 4px solid;
  border-top: 4px solid;
  border-top-left-radius: 5px;
  left: 6px
}
.gg-facebook::after {
  width: 10px;
  height: 4px;
  background: currentColor;
  top: 7px;
  left: 4px;
  transform: skew(-5deg)
}




.gg-twitter {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 20px
}
.gg-twitter::after,
.gg-twitter::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 4px
}
.gg-twitter::before {
  width: 9px;
  height: 14px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-bottom-left-radius: 6px;
  background:
      linear-gradient(
          to left,currentColor 12px,transparent 0)
          no-repeat center 2px/10px 4px;
  top: 4px
}
.gg-twitter::after {
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 20px;
  top: 2px;
  box-shadow: 7px 4px 0,7px 12px 0
}



.gg-instagram {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  border-radius: 4px;
  width: 20px;
  height: 20px
}
.gg-instagram::after,
.gg-instagram::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}
.gg-instagram::after {
  border: 2px solid;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 3px
}
.gg-instagram::before {
  border-radius: 3px;
  width: 2px;
  height: 2px;
  background: currentColor;
  right: 1px;
  top: 1px
}
/*********  Mentions Légales  *******************/

#cgv {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom:20px;
}


#cgv>p {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  
}

#footer_footer_nom_du_site {
  text-transform: uppercase;
  font-weight: bold;
  color: #e07e15;
}

#logo_footer {
  color: red;
}

#mention_legale a {
  font-family: 'Roboto', sans-serif;

}

#creation {
  color: black;
}


