*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


/***********************     Sommaire       *********************

1 - Header 
2 - Slider 
3 - Main
4 - Footer
5 - Mentions légales

****************************************************************/



/********  GLOBAL  ********/

.position {
    width:100%;
    margin: auto;
    font-family:var(--font_2);
    font-size: 1.1rem;
    flex-wrap: wrap;
}

h2{
  width:100%;
  font-family:var(--font_1);
  font-size:2.5rem;
  padding:20px 0;
}






.position h2:first-letter{
  color:red;
}

/***********************     Variables       *********************/

:root{
  --color_1:#f1eeee;
  --color_2: red;
  --color_3:#083ea3;
  --color_4:rgba(75, 32, 35, 0.575);
  --color_5:white;
  --font_1:'Dancing Script', cursive;
  
}


/*****************************************************************/




/********  1 - Header  ********/

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color_4);
  border-top:5px solid  var(--color_3);
  padding:30px;
  width:100%;
  position:fixed;
  z-index:200;
  
}

header>div{
  width:30%;
}

header h1{
  font-family: var(--font_1);
  font-size:3rem;
  text-transform: uppercase;
  color:var(--color_1);
  position:relative;
  white-space:nowrap;
}

header img{
  position: absolute;
  bottom:15px;
  left:59ch;
  z-index:10;
  width:55px;
  transform: rotate(-20deg);
}

h1:first-letter{
  color:var(--color_2)
}

.navbar_header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width:35vw;
}

.navbar_header a {
  
  text-decoration: none;
  font-family: var(--font_1);
  color:var(--color_1);
  font-size: 2rem; 
  
}

.navbar_header :nth-child(2){
  border-bottom:2px solid var(--color_1);
}

/**********************  effet reflet sur la nav ***********************/
.navbar_header .shine div{
	position: relative;
}

.shine div a::before {
  content: '';
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.shine div a:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


/**************  Formulaire de recherche  **************/

.formulaire_recherche{
width:30%;
display: flex;
justify-content: flex-end;
}

#site-search{
  outline: none;
  display: block;
  border:none;
  height:30px;
  width:50%;
  border-radius: 5px;
}

.formulaire_recherche button{
  display:inline-block;
  width:8%;
  margin-left:8px;
  border:none;
  border-radius: 5px;
  color:black;
  font-family:var(--font_1);
  font-size:1rem;
}

:placeholder-shown{
  background-color: rgb(180, 166, 166);
}

::placeholder{
  color:white;
}

/********************************  2 - Slider  ***********************************/

.img1 {
  background: url(../images/coliseum3.jpg);
  height: 70rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.img2 {
  background: url(../images/coliseum5.jpg);
  height: 70rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.img3 {
  background: url(../images/coliseum7.jpg);
  height: 70rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/*********************  Animation slider  ********************/

.box1 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box2 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box3 {
  opacity: 0;
  transition: all 0.4s linear;
}

.fade-in {
  opacity: 1;
}

/************************  3 - Main   *************************/

/************************  Article 0  *************************/
#article_0{
  padding:20px 80px 40px 50px;
  background-color: var(--color_5);
  position:relative;
  z-index:100;
  filter: drop-shadow(3px 3px 4px grey);
  border-top:5px solid  var(--color_3);
}

#article_0:after{
	content:"";
	position:absolute;
	z-index:20;
	bottom:-30px;
	left:20%;
	transform:translate(-50%,0);
	border-top: 30px solid var(--color_5);
	border-left:60px solid transparent;
  border-right:60px solid transparent;
  
}

#article_0 p{
  padding:10px;
}

#fig2{
  float:right;
  padding:20px;
}

figcaption{
  text-align: center;
  font-family: var(--font_1);
  font-size:1.3rem;
}

#doc img{
  display:block;
  width:70%;
  margin:auto;
  text-align:center;
  
}


/************************  1er Article  ***********************/
#article_1{
  padding:20px 50px 0 50px;
  display:flex;
  justify-content: space-between;
  background-color: var(--color_1);
  position:relative;
  z-index:50;
  filter: drop-shadow(3px 3px 4px grey);
}

#article_1:after{
	content:"";
	position:absolute;
	z-index:20;
	bottom:-30px;
	left:80%;
	transform:translate(-50%,0);
	border-top: 30px solid var(--color_1);
	border-left:60px solid transparent;
  border-right:60px solid transparent;
  
}

.shadow_img{
  box-shadow:4px 4px 10px 1px grey;
}

.paragraphe{    
  width:60%;
  line-height: 25px;
  padding:125px 50px 20px 50px;
  position:relative;
}
.paragraphe p{
  padding-bottom:10px;
  
}

/************************* effet texte caché ***********************/
#opacity{
  display:block;
  position:absolute;
  background: linear-gradient(to top, var(--color_1) 45%,transparent 60%);
  z-index:10;
  top:0;
  right:0;
  width:100%;
  height:100%;
}

#opacity a{
  
  display:block;
  left:0;
  position: absolute;
  top: 50%;
  margin-left: 50px;
  
}

#opacity.masque{
  display:none;
}

/*******************************/

#article_1 a{
  border: 2px solid rgba(75, 32, 35, 0.575);
  border-radius: 20px;
  text-decoration: none;
  color:var(--color_4);
  font-weight: bold;
  font-size:1.2rem;
  font-family: var(--font_1);
  display:block;
  width:100px;
  margin-top:50px;
  text-align: center;
}


#article_1 a:hover{
  background: var(--color_4);
  color:var(--color_1);
}



/**************************  2ème article  **************************/

#article_2{
  padding:20px 50px 0 50px;
  display:flex;
  z-index: 10;
  justify-content: space-between;
  background-color: var(--color_5);
  position:relative;
  filter: drop-shadow(3px 3px 4px grey);
}


#article_2:after{
	content:"";
	position:absolute;
	z-index:10;
	bottom:-30px;
	left:20%;
	transform:translate(-50%,0);
	border-top: 30px solid var(--color_5);
	border-left:60px solid transparent;
  border-right:60px solid transparent;
  
}

#article_2 .zone_2{
  position: relative;
}


#article_2 iframe{
width: 700px;
height: 350px;
border:0;
}


.paragraphe2{
  width:60%;
  line-height: 25px;
  padding:150px 50px;
  background: url(../images/backolisee2.png)no-repeat ;
  background-size: cover;
}


.paragraphe2 h3{
  text-decoration: underline;
}

.paragraphe2 span{
  font-style:italic;
  font-size: 12px;
}

.paragraphe2 img{
  width:20px;
  height:20px;
}


/******************************  Galerie Images  *******************************/
#galerie{
  width:100%;
  padding:20px 50px 40px 50px;
  background-color: var(--color_1);
  margin:auto;
}

#galerie img {
  width: 100%;
  height: auto;
}

#galerie h2 {
  margin-bottom: .5em;
  font-family:var(--font_1);
  font-size:2.5rem;
  padding:20px 0;
  
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  width:80%;
  margin:auto;
}



.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: var(--color_4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}



/*********************************  4 - Footer  ********************************/

.footer {
  box-shadow: 2px -4px 4px grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family:var(--font_1);
  font-size:1.2rem;
}



#footer_footer_nom_du_site {
  color: var(--color_2);
  font-weight: bold;
  font-style: italic;
}


.footnav ul {
  display:flex;
  justify-content: space-between;
  padding: 30px 0;
}

.footnav a:hover{
  text-decoration: underline;
}


footer a{
  padding-right:30px;
}


footer a,
.footnav2,
li {
  list-style: none;
  text-decoration: none;
  color:black;
  
}

.footnav2 h3, .reseaux h3{
  padding: 0 0 30px 0;
}


#button {
  width: 120px;
  background-color:var(--color_1);
  color: grey;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;

}
/***************  Social Network  ***************/

.reseaux i{
  display:inline-block;
}
.gg-facebook {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 20px
}
.gg-facebook::after,
.gg-facebook::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box
}
.gg-facebook::before {
  width: 8px;
  height: 20px;
  border-left: 4px solid;
  border-top: 4px solid;
  border-top-left-radius: 5px;
  left: 6px
}
.gg-facebook::after {
  width: 10px;
  height: 4px;
  background: currentColor;
  top: 7px;
  left: 4px;
  transform: skew(-5deg)
}






.gg-twitter {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 20px
}
.gg-twitter::after,
.gg-twitter::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 4px
}
.gg-twitter::before {
  width: 9px;
  height: 14px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-bottom-left-radius: 6px;
  background:
      linear-gradient(
          to left,currentColor 12px,transparent 0)
          no-repeat center 2px/10px 4px;
  top: 4px
}
.gg-twitter::after {
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 20px;
  top: 2px;
  box-shadow: 7px 4px 0,7px 12px 0
}





.gg-instagram {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  border-radius: 4px;
  width: 20px;
  height: 20px
}
.gg-instagram::after,
.gg-instagram::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}
.gg-instagram::after {
  border: 2px solid;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 3px
}
.gg-instagram::before {
  border-radius: 3px;
  width: 2px;
  height: 2px;
  background: currentColor;
  right: 1px;
  top: 1px
}


/**************************  Mentions Légales  ***********************/

#cgv {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: var(--font_2);
  padding-bottom:20px;
}


#cgv>p {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

#footer_footer_nom_du_site {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color_3);
}



#mention_legale a {
  font-family: var(--font_2);
}

#creation {
  color: black;
}


