@media screen and (max-width:1024px){
/***************  Header  **************/
    header{
        display:block;
    }

    header h1{
        font-size: 2.2rem;
    }

    header img{
        width:40px;
        left:42ch;
        top:64px;


    }

    .navbar_header ul{
        width:100%;
        padding-top:20px;
    }

    .formulaire_recherche{
        width:80%;
        padding-top:30px;
        justify-content: flex-start;
    }

    


/******************* slider  **************/
    #slider
    .img1,
    .img2,
    .img3{ 
        display:block;
        width:100%;
        margin:auto;
    }


/********************  main  ****************/
    #article_0 img{
        display:block;
        margin:auto;
    }


    #doc img{
        width:90%;
    }


    #article_1,
    #article_2{
        display:block;
        
    }


    .paragraphe,
    .paragraphe2{
        
        width:100%;
        padding-top: 50px;
    }



    #article_1 video,
    #article_2 iframe{
        display:block;
        margin:auto;
        width: 530px;
        height: 350px;
        
    }

/********************************  Footer  ************************/
    #footer{
        display:block;
    
    }


    .footnav,
    .reseaux,
    .footnav2{
        width:100%;
        padding-top:40px;
    }

    
}






    }

    header img{
        width:35px;
        left:36ch;
        top:55px;
    }

    .navbar_header ul{
        display:none
    }

    /******************  burger  ****************/
    #burger{
        float:right;
        position: relative;
        margin-top: -30px;
        right:-35px;
        border-top:solid 3px var(--color_3);
        border-bottom: solid 3px var(--color_2);
        border-radius: 7px;
        height:30px;
        width:30px;
    }
    
    #burger::before, #burger::after{
        content:"";
        position: absolute;
        display:block;
        width:90%;
        height:2px;
        background-color: white;
        left:5%;
        top:calc(50% - 1px);
        transition: all .3s;
    }
    
    #burger:not(.close){
        border-radius: 50%;
        border-top-color: grey;
        border-bottom-color: grey;
        transform: rotate(90deg);
    
    }
    
    #burger:not(.close):before{
        transform: rotate(45deg);
    }
    
    
    #burger:not(.close):after{
        transform: rotate(-45deg);
    }
    
/*
    #burger:not(.close) div ul{
        display:block;
        width:100%;
        height:100%;
    }

*/
    #burger:not(.close) + #menu-listing{
		display: block;
		background-color: var(--color_4);
		height: 100vh;
		width: 100vw;
		z-index: 1;
		text-align: center;
	}
/**************************************************/

    .formulaire_recherche{
        width:100%;
        padding-top:30px;
        justify-content: flex-start;
    }


    #slider{
        width:100%
    }


    h2{
        text-align: center;
    }
  


    #article_1 video,
    #article_2 iframe{
        display:block;
        margin:auto;
        width: 450px;
        height: 400px;
    }


    #doc img{
        width:100%;
        margin:auto;

    }


    #opacity a{
        top:55%

    }


    .paragraphe2{
        width:120%;
        padding-top: 50px;
        padding:50px 33px
    }

    #galerie{
        padding:10px 10px 10px 0;
    }




}




