@media all and (max-width: 768px) {

    .navbar_header ul {
      display: block;
      background-color: #e07e15;
      border-top: 2px solid black;
      padding: 10px;
    }
  
    .navbar_header ul a {
      padding: 10px;
    }
  
    .thumbnail {
      width: 45%;
    }
  
    #slider {
      display: none;
    }
  
    #description {
      font-size: 0.85rem;
      line-height: 1.5;
      margin: 0;
      padding: 10px 0px;
    }
  
    #script {
      font-weight: bold;
      font-size: 1.5rem;
    }
  
    .section1 {
      width: 90%;
      margin: 20px auto;
    }
  
    blockquote {
      margin: 0;
      padding: 0;
      font-size: 0.85rem;
    }
  
    .billie,
    .post2 {
      margin: 20px auto;
      font-size: 0.90rem;
    }
  
    #variete_internationale,
    #pop_rock,
    #electro,
    #reggae {
      font-size: 1rem;
    }
     /*********************Evenement à venir = Nicolas Tom*************/
     .main2{
      width:100%;
      margin:auto;
    }
  
    #titreEvent h3{
      font-size:1rem;
      width:100%;
    }
    .article a p{
      font-size:0.90rem;
    }
  
    
    /*******************/
  
    .separateur {
      width: 50%;
    }
  
    .footer {
      justify-content: start;
      margin-left: 5px;
      font-size: 0.90rem;
    }
  
  
    .wrapper2 {
      width: 100%;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
  
    }
  
    .wrapper {
      width: 100%;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
  
    }
  
    
  
    aside {
      margin: auto;
      width: 80%;
      background-color: rgb(182, 221, 217);
  
    }
  
  }
  
  @media all and (max-width:480px) {
  
  
    .navbar_header ul {
      display: block;
      background-color: #e07e15;
      border-top: 2px solid black;
      padding: 10px;
    }
  
    .navbar_header ul a {
      padding: 10px;
    }
  
    .thumbnail {
      width: 100%;
    }
  
    #slider {
      display: none;
    }
  
    #description {
      font-size: 0.85rem;
      line-height: 1.5;
      margin: 0;
      padding: 10px 0px;
    }
  
    #script {
      font-weight: bold;
      font-size: 1.5rem;
    }
  
    .section1 {
      width: 90%;
      margin: 20px auto;
    }
  
    blockquote {
      margin: 0;
      padding: 0;
      font-size: 0.85rem;
    }
  
    .billie,
    .post2 {
      margin: 20px auto;
      font-size: 0.90rem;
    }
  
    #variete_internationale,
    #pop_rock,
    #electro,
    #reggae {
      font-size: 1rem;
    }
  
    .separateur {
      width: 50%;
    }
  
    .aPropos,
    .separateur_footer {
      display: none;
    }
  
    .footer {
      justify-content: start;
      margin-left: 10px;
      font-size: 0.90rem;
    }
    /*********************Evenement à venir = Nicolas Tom*************/
    .main2{
      width:100%;
      margin:auto;
    }
  
    #evenement h3{
      font-size:1rem;
    }
    
    /*******************/
    .wrapper2 {
      width: 100%;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
  
    }
  
    .wrapper {
      width: 100%;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
  
    }
  
      #section_equipe h2{
        font-size:1rem;

      }
      .profil a h3,
      .profil a h3 span,
      .profil a h3 span p{
        font-size:0.90rem;
      }
  }