@media screen and (max-width:768px){
/***************************  Header  ******************************/
    header{
        display:block;
    }

    header h1{
        font-size: 2.5rem;
    }

    header img{
        width:40px;
        left:47ch;
        top:69px;


    }

    .navbar_header ul{
        width:100%;
        padding-top:20px;
    }

    .formulaire_recherche{
        width:80%;
        padding-top:30px;
        justify-content: flex-start;
    }


/******************************* slider  *****************************/
    #slide
    .img1,
    .img2,
    .img3{ 
        display:block;
        width:100%;
        margin:auto;
    }


/*******************************  main  ******************************/
    #article_0 img{
        display:block;
        margin:auto;
    }


    #doc img{
        width:90%;
    }


    #article_1,
    #article_2{
        display:block;
        
    }


    .paragraphe,
    .paragraphe2{
        
        width:100%;
        padding-top: 50px;
    }



    #article_1 video,
    #article_2 iframe{
        display:block;
        margin:auto;
        width: 530px;
        height: 350px;
        
    }

/********************************  Footer  ************************/
    .footer{
        display:block;
    }


    .footnav,
    .reseaux,
    .footnav2{
        width:100%;
        padding-top:40px;
    }

    
}